:root {
  /* Primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  padding: 0;
}

h2,
p {
  font-weight: normal;
}

.section-main {
  display: flex;
  align-items: center;
  justify-content: center;

  background: url('../images/pattern-background-desktop.svg'), var(--pale-blue);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  max-width: 1440px;
}

.card {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.1);
  width: 23.4375rem;
}

.card__image {
  border-radius: 20px 20px 0 0;
  width: 23.4375rem;
}

.card__bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card__header {
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 0;
}

.card__text {
  color: #a2aab3;
  font-size: 13px;
  line-height: 1.5;
  padding: 0 2rem;
  text-align: center;
}

.card__payment-plan-block {
  display: flex;
  align-items: center;
  justify-content: space-around;

  border-radius: 10px;
  background-color: var(--very-pale-blue);
  gap: 1rem;
  width: 85%;
}

.card__plan-wrapper {
  transform: translateX(-2rem);
}

.card__plan-type {
  font-weight: 700;
  margin-bottom: 0;
}

.card__plan-price {
  color: #a2aab3;
  margin-top: 0;
}

.card__link:hover {
  color: hsl(245, 75%, 60%);
  text-decoration-line: none;
}

.btn {
  border-radius: 10px;
  border: none;
  box-shadow: 0 7px 10px 4px hsla(224, 23%, 55%, 0.264);
  margin: 2rem 0 1rem 0;
  padding: 0.8rem 0;
  width: 85%;
}

.btn-primary {
  background-color: var(--bright-blue);
  color: #fff;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: hsl(245, 75%, 60%);
  cursor: pointer;
}

.card__link--cancel {
  color: #a2aab3;
  font-weight: 700;
  text-decoration-line: none;
  margin-bottom: 2rem;
}

.card__link--cancel:hover {
  color: black;
}

@media screen and (max-width: 375px) {
  .section-main {
    background: url('../images/pattern-background-mobile.svg'), var(--pale-blue);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .card {
    width: 20.3125rem;
  }

  .card__image {
    width: 20.3125rem;
  }

  .card__text {
    padding: 0 2rem;
  }

  .card__payment-plan-block {
    padding: 0 0.5rem;
    width: 85%;
  }

  .card__plan-wrapper {
    transform: translateX(-1.3rem);
  }

  .card__plan-type {
    margin-bottom: 0;
  }

  .card__plan-price {
    margin-top: 0;
  }
}
